<ng-container *ngIf="loading==true; else elseBlock1">
  <div class="spinner-border mt-2" role="status">
  </div>
</ng-container>
<ng-template #elseBlock1>
  <nav class="navbar bg-body-tertiary mt-3">
    <div class="container-fluid">
      <form class="d-flex">
        <input #box class="form-control me-2" type="search" placeholder="Search friends" aria-label="Search"
            id="search"   formControlName="search"  (keyup.enter)="update(box.value)" (blur)="update(box.value)" >
        <button class="btn btn-outline-success" type="button" (click)="searchFriends()"> Search</button>
      </form>

      <div class="overflow-auto w-100 mt-3">
        <ul class="list-group mt-3 border-secondary list-group-item-success">
          <div *ngIf="errore" class="alert alert-danger d-flex align-items-center" role="alert">
            <i class="bi flex-shrink-0 me-2 bi-exclamation-triangle-fill"></i>
            <div>
              Error system
            </div>
          </div>
          <ng-container *ngIf="friends.length!=0;else elseBlock2">
            <ng-container *ngFor="let friend of friends">

              <app-friend [friend]="friend"></app-friend>

            </ng-container>
          </ng-container>
        </ul>

      </div>
    </div>
  </nav>

  <ng-template #elseBlock2>
    <p>
      Non ci sono nuovi amici
    </p>
  </ng-template>
</ng-template>
