<div *ngIf="errore" class="alert alert-danger d-flex align-items-center" role="alert">
  <i class="bi flex-shrink-0 me-2 bi-exclamation-triangle-fill"></i>
  <div>
    Error Sistem
  </div>
</div>
<ng-container *ngIf="loading; else elseBlock1">
  <div class="spinner-border" role="status">
  </div>
</ng-container>
<ng-template #elseBlock1 >
<ng-container *ngIf="posts.length!=0; else elseBlock">
        <div *ngFor="let post of posts; index as i " class="card rounded w-100 mb-4" style="width: 18rem; background:	#f5f5f5">
        <app-post [post]="post" [index]="i"></app-post>
        </div>

  </ng-container>
</ng-template>
  <ng-template #elseBlock>
    <p> Non ci sono post</p>
  </ng-template>




