
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 fw-bold" id="exampleModalLabel">Create a new post</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="chiusura()" aria-label="Close"></button>
      </div>
      <div class="modal-body" [formGroup]="createNewPost">
        <div class="mb-3">
          <div *ngIf="err" class="alert alert-danger d-flex align-items-center" role="alert">
            <i class="bi flex-shrink-0 me-2 bi-exclamation-triangle-fill"></i>
            <div>
              Error system
            </div>
          </div>
          <label for="exampleFormControlTextarea1" class="form-label">Descrizione</label>
          <br>
          <textarea type="text" class="form-control" id="exampleFormControlTextarea1" [ngClass]="descrizione?.invalid && alert? 'is-invalid':''" rows="3" formControlName="descrizione"></textarea>
          <div *ngIf="descrizione?.invalid && alert"
               class="invalid-feedback">

            <div *ngIf="descrizione?.errors?.['required'] && alert">
              {{textError}}
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer" id="exampleModal4">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="chiusura()">Close</button>
        <button id="buttonSave" type="button" class="btn btn-danger" [ngClass]="buttonSave? 'disabled':' '" (click)="create()">
          <div *ngIf="buttonSave" class="spinner-border text-light spinner-border-sm"  role="status">
          </div>
          Save post</button>
      </div>
    </div>
  </div>
</div>
